@import "tailwindcss";

*{
  color: #fff;
}
body{
  background-color: #111;
}
#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}

::-webkit-scrollbar-track {
  background: #111827; /* gray-900 */
}
